html * {
    font-family: sans-serif;
}

body {
    background-color: #272727;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-align: center;
    color: #bbb;
}

nav {
    max-width: 45vw;
    min-width: 300px;
    margin: 0 auto;
    margin-top: 5rem;
    background-color: #272727;
}

nav ul {
    /*ELIMINA LOS BULLETS DE LA LISTA*/
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    border: 1px solid white;
    background-color: #353535;
}

li {
    border: 0px solid black;
    margin: 10px;
}

button {
    border: none;
    color: #bbb;
    line-height: 2rem;
    background-color: #353535;
}

li:hover,
li:hover * {
    background-color: #525252;
    color: white;
    font-size: 0.9rem;
}